<div class="container">
    <div class="house_roof center span12">
    </div>
      <div class="house_body">
      <%- @rooms.each do |room| -%>
        <a href="#<%= room.name.downcase.delete(' ') %>Modal" role="button" data-toggle="modal">
        <div id="<%= room.name.downcase.delete(' ') %>" class="span4 house_room <%= room.name.downcase %>">
        <button class="btn">
          <%= room.name %>
        </button>
        </div>
      </a>
        <%= render 'modal', category: room %>
      <%- end -%>
      </div>
  </div>


