<div class="container">
  <div class="house center">
    <div class="house_roof center">

    </div>
    <div class="house_body center">
      <%- @rooms.each do |room| -%>
        <div id="<%= room.name.downcase %>" class="span4 house_room <%= room.name.downcase %>">
          <a href="#<%= room.name.downcase %>Modal" role="button" class="btn" data-toggle="modal">
            <%= room.name %>
          </a>
        </div>
        <%= render 'modal', category: room %>
      <%- end -%>
    </div>
  </div>

</div>
